<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51026323581-0f0qgidls0v723flmtlvgvoi4ecf9bum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51026323581-0f0qgidls0v723flmtlvgvoi4ecf9bum</string>
	<key>API_KEY</key>
	<string>AIzaSyCqfsiYppzC_pq6nq_f_eAFdHi2xT7jAvo</string>
	<key>GCM_SENDER_ID</key>
	<string>51026323581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geniopay.geniopay</string>
	<key>PROJECT_ID</key>
	<string>geniopay</string>
	<key>STORAGE_BUCKET</key>
	<string>geniopay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51026323581:ios:ac44d1c80c9c563c2e6914</string>
	<key>DATABASE_URL</key>
	<string>https://geniopay-default-rtdb.firebaseio.com</string>
</dict>
</plist>