<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790530599884-kq3rolnc0vks2ubpfnlis92gc1j9igd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790530599884-kq3rolnc0vks2ubpfnlis92gc1j9igd2</string>
	<key>API_KEY</key>
	<string>AIzaSyCjj0dkgaA5N0X8GIM4wDr-FeGgzWUQy1k</string>
	<key>GCM_SENDER_ID</key>
	<string>790530599884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geniopay.geniopay.dev</string>
	<key>PROJECT_ID</key>
	<string>dev-geniopay</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-geniopay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790530599884:ios:be6e9faf9da07c24008b69</string>
</dict>
</plist>